<h1>Listing purposes</h1>

<table>
  <tr>
    <th>Trip</th>
    <th>Purpose</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @purposes.each do |purpose| %>
  <tr>
    <td><%= purpose.trip_id %></td>
    <td><%= purpose.purpose_id %></td>
    <td><%= link_to 'Show', purpose %></td>
    <td><%= link_to 'Edit', edit_purpose_path(purpose) %></td>
    <td><%= link_to 'Destroy', purpose, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Purpose', new_purpose_path %>
