<p id="notice"><%= notice %></p>

<p>
  <b>Vehicle:</b>
  <%= @trip.vehicle_id %>
</p>

<p>
  <b>Date:</b>
  <%= @trip.date %>
</p>

<p>
  <b>Distance:</b>
  <%= @trip.distance %>
</p>

<p>
  <b>Comments:</b>
  <%= @trip.comments %>
</p>


<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
