<h1>Listing purpose_defs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @purpose_defs.each do |purpose_def| %>
  <tr>
    <td><%= purpose_def.name %></td>
    <td><%= purpose_def.description %></td>
    <td><%= link_to 'Show', purpose_def %></td>
    <td><%= link_to 'Edit', edit_purpose_def_path(purpose_def) %></td>
    <td><%= link_to 'Destroy', purpose_def, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Purpose def', new_purpose_def_path %>
